body {
    padding-top: 60px;
    padding-bottom: 40px;
}
#comment_block {
    padding-top: 60px;
    padding-bottom: 40px;
}

.pagination {
    padding-top: 60px;
    padding-bottom: 40px;
}

#post_body {
    width: 600px;
    height: 120px;
    color: black;
}