{% macro render_pagination(pagination, endpoint) %}
<nav class="pagination">

    {% if pagination.has_prev %}
        <a class="button" href="{{ url_for(endpoint, page=pagination.prev_num) }}">&laquo;</a>
    {% else %}
        <a class="button disabled" href="#">&laquo;</a>
    {% endif %}

    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a class="button" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
            <a class="button active" href="">{{ page }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <a class="button" href="{{ url_for(endpoint, page=pagination.next_num) }}">&raquo;</a>
    {% else %}
        <a class="button disabled" href="">&raquo;</a>
    {% endif %}

</nav>
{% endmacro %}

{% macro render_post(post) %}
<section id="posts" class="one">
    <div class="container">

        <header>
            <a href="{{ url_for('post', slug=post.slug) }}"><h2 style="display: inline;">{% if session['language'] == 'ja' and post.title_ja %}{{ post.title_ja }}{% else %}{{ post.title }}{% endif %}</h2></a>

        <span style="padding-top: 10px;" class="pull-right">{{ _('Posted under')}}: <a href="{{ url_for('category', name=post.category.name) }}">{% if session['language'] == 'ja' and post.category.name_ja %}{{ post.category.name_ja }}{% else %}{{ post.category.name }}{% endif %}</a></span>

        </header>
        {% autoescape false %}
        {{ _('Posted by %(name)s on', name='<a href="{}">Jordan</a>'.format(url_for('about'))) }} {{moment_js(post.date).format('LLLL')}} - <em>{{moment_js(post.date).fromNow()}}</em>
        {% endautoescape %}

        {% if post.tags %}
        <span class="pull-right">{{ _('Tagged')}}: {% for i in post.tags %}<a href="{{ url_for('tag_name', name=i.name) }}">{% if session['language'] == 'ja' and i.name_ja %}{{ i.name_ja }}{% else %}{{ i.name }}{% endif %}</a>{% if i != post.tags[-1] %}, {% endif %}{% endfor%}</span>
        {% endif %}

        {% if session['language'] == 'ja' and post.body_ja_html %}
        <p>{{ post.body_ja_html|safe }}</p>
        {% else %}
        <p>{{ post.body_html|safe }}</p>
        {% endif %}


    </div>
</section>
{% endmacro %}
