{% macro render_pagination(pagination, endpoint) %}
  <div class="pagination pagination-centered">
    <ul>
    {%- for page in pagination.iter_pages() %}
      {% if page %}

        {% if page != pagination.page %}
          <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
        {% else %}
          <li><span><strong>{{ page }}</strong></span></li>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    </ul>
  </div>
{% endmacro %}

<!-- It doesn't pick these up out of header.html for some reason.... -->
{{ _('User Panel') }}
{{ _('Your Profile') }}
{{ _('Home') }}
{{ _('Logout') }}