<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu' rel='stylesheet' type='text/css'>
        {% assets "ie8_shiv" %}
        <!--[if lte IE 8]><script src="{{ ASSET_URL }}"></script><![endif]-->
        {% endassets %}
        {% assets "js_moment" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% if session['language'] == 'ja' %}
        {% assets "ja_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% endif %}
        {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
        {% endassets %}
        {% assets "ie9_css" %}
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ ASSET_URL }}" /><![endif]-->
        {% endassets %}
        {% assets "ie8_css" %}
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ ASSET_URL }}" /><![endif]-->
        {% endassets %}
        {% if session['language'] == 'ja' %}
        <script type=text/javascript>
        moment.lang('ja');
        </script>
        {% endif %}
        <link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>
        <link href="{{ url_for('base.recent_feed') }}"
          rel="alternate"
          title="Recent Posts"
          type="application/atom+xml">
    </head>
    <body>

            <div id="header" class="skel-panels-fixed">

                <div class="top">

                        <div id="logo">
                            <a href="{{ url_for('base.home') }}"><h1 id="title">Defestri  <img src="/static/img/defestri_blue.png" width="20" height="22" width="24" alt="Defestri"></h1></a>
                            <span title="It often takes time to bear the fruit of one's actions" class="byline">桃栗三年柿八年</span>
                        </div>

                        <nav id="nav">
                            <ul>
                                <li><a href="{{ url_for('base.home') }}" id="home_tab"><span class="fa fa-home">{{ _('Home') }}</span></a></li>
                                <li><a href="{{ url_for('base.about') }}" id="about_tab"><span class="fa fa-info">{{ _('About') }}</span></a></li>
                                <li><a href="{{ url_for('projects.home') }}" id="projects_tab"><span class="fa fa-code">{{ _('My Projects') }}</span></a></li>
                                <li><a href="{{ url_for('posts.post_list') }}" id="posts_tab"><span class="fa fa-comment-o">{{ _('Posts') }}</span></a></li>
                                <li><a href="{{ url_for('category.category_list') }}" id="categories_tab"><span class="fa fa-list">{{ _('Categories') }}</span></a></li>
                                <li><a href="{{ url_for('tag.tag_list') }}" id="tags_tab"><span class="fa fa-tags">{{ _('Tags')}}</span></a></li>
                                <li><a href="{{ url_for('archive.archive_list') }}" id="archive_tab"><span class="fa fa-calendar">{{ _('Archive') }}</span></a></li>
                                {% if g.user.is_authenticated() %}
                                <li><a href="{{ url_for('posts.create_post') }}" id="newpost_tab"><span class="fa fa-pencil-square-o">{{ _('New Post') }}</span></a></li>

                                <li><a href="{{ url_for('base.translate') }}" id="translate_tab"><span class="fa fa-tasks">{{ _('Translate') }}</span></a></li>

                                <li><a href="{{ url_for('monitor.bans_list') }}" id="monitoring_tab"><span class="fa fa-eye">{{ _('Monitoring') }}</span></a></li>

                                <li><a href="{{ url_for('base.logout') }}"><span class="fa fa-power-off">{{ _('Logout') }}</span></a></li>
                                {% endif %}
                                <li><a href="/language/{{ available_languages(session['language'])[0] }}?next={{ request.path }}" class="special"><span class="fa fa-flag-o">{{ available_languages(session['language'])[1] }}</span></a></li>
                            </ul>
                        </nav>

                </div>

                <div class="bottom">

                        <ul class="icons">
                            <li><a href="https://github.com/ardinor" class="fa fa-github solo"><span>{{ _('Github') }}</span></a></li>
                            <!--<li><a href="http://www.linkedin.com/" class="fa fa-linkedin solo"><span>{{ _('LinkedIn') }}</span></a></li>-->
                            <li id="contact_tab"><a href="{{ url_for('base.contact') }}" class="fa fa-envelope solo"><span>{{ _('Email') }}</span></a></li>
                            <li><a href="{{ url_for('base.recent_feed') }}" class="fa fa-rss solo"><span>{{ _('Atom') }}</span></a></li>
                        </ul>

                </div>

            </div>

            <div id="main">

                {% with messages = get_flashed_messages(category_filter=['success']) %}
                    {% for message in messages %}

                <div class="flashed-message">
                    <div class="alert-success">
                        <p>{{ message }}</p>
                    </div>
                </div>

                    {% endfor %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=['error']) %}
                    {% for message in messages %}

                <div class="flashed-message">
                    <div class="alert-error">
                        <p>{{ message }}</p>
                    </div>
                </div>

                    {% endfor %}
                {% endwith %}

                {% block content %}{% endblock %}

            </div>
    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% if not config.DEBUG %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46303127-1', 'defestri.org');
  ga('send', 'pageview');
    </script>
    {% endif %}
    </body>
</html>
