{% extends "base.html" %}

{% block title %}Defestri - {{ category.name }}{% endblock %}

{% block content %}
<section class="categories">
    <div class="container">

        <header>
            {% if session['language'] == 'ja' and category.name_ja %}
            <h2>{{ _('Posts under "%(category)s"', category=category.name_ja) }}</h2>
            {% else %}
            <h2>{{ _('Posts under "%(category)s"', category=category.name) }}</h2>
            {% endif %}

        </header>

            {% for i in category.posts %}
            <p>
                <h3><a href="{{ url_for('posts.post_item', slug=i.slug) }}">{% if session['language'] == 'ja' and i.title_ja %}{{ i.title_ja }}{% else %}{{ i.title }}{% endif %}</a></h3>

                {% if i.published == False or i.published == None %}
                <span class="red-text">{{ _('Not yet published') }}</span>
                {% else %}
                    {% if i.date %}
                    {{ _('Posted on: %(date)s', date=moment_js(i.date).format('LLLL')) }}
                    {% endif %}
                {% endif %}
            </p>
            {% endfor %}

    </div>
</section>
{% endblock %}

