{% extends "base.html" %}

{% block title %}Defestri - Contact{% endblock %}

{% block content %}
<section>
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <h3>Email</h3>

        <p>You can email me at jordan@ this domain (defestri.org).</p>

        <p>My PGP Public Key is included below.</p>

        <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2.0.22 (GNU/Linux)

mQENBFL0ZuABCADfujgmqbMEVq7e/dIB/1+ozZUhTNlwB2CwkVvScx6iXE/cjOi3
wYwGztZwr+Oe9HMncTghcbwpUszPH3C9VywVksJDG91ByeaxZegEjEhoqn25fQRW
NlFykBsTtSHuWrcNpVEl5jtH/ljc3suTnJrRyTZSReLmmTY737z3sxpYlY7d2vfD
fdaDWyfny0dYXAtifYyv1AJUdcsTefQJ6fneKnvggncRKTCDkl/zOH6mVH6BCFSv
WUmyOZaAS5G2+e6QcXaCRgL741y0soWSzp8bt1+j4BwxB75SmBcCEFl/5bGbxGtr
ryZ/QCF2HxzICzLwJ14InrZ2tbItU5hJWDR9ABEBAAG0I0pvcmRhbiBNb2VzZXIg
PGpvcmRhbkBkZWZlc3RyaS5vcmc+iQE5BBMBAgAjBQJS9GbgAhsDBwsJCAcDAgEG
FQgCCQoLBBYCAwECHgECF4AACgkQ6/R0MvG8ECWAdAf+JB0HlPhQkrnU48PplLG2
3r+2eWw7FkMdQ6/MbcnglbjziVo+wxSk5wk5mNaVI4cQfdX3w/Fm1CAMgMm3piah
Ya4iN+uoOaEACyUBMuTuWeSxcJznH5+/TpDPDoYP0rKyCCcavLppgeeWsxJMM1GU
ILEV1BmBndfaJYFddiGR3QrRb5ZEInyFPybK0b5hNfl2oGt2MIsRDKUAzqu8Qs9+
l9hfIWPGHmItJir6ii8h6q5k+TkrUCAfgKjlY3I4KKyylR8N3d9gfny3hm4fdZCw
VOp70vFwFE6ZUHBsv9otq6rxoa6sYNhGlTRmiLpW0NsDQelQyBcS4Dqp0x5AWnI6
erQjSm9yZGFuIE1vZXNlciA8dGVtbm95dW1lQGdtYWlsLmNvbT6JATkEEwECACMF
AlL0apgCGwMHCwkIBwMCAQYVCAIJCgsEFgIDAQIeAQIXgAAKCRDr9HQy8bwQJSe0
B/wMDvuQlGgOEXnyNWs5Off3yOgvgsd/koweJvTECAiwT4gt7jXtVCTUw0mRfqiE
gVUVzFA/DDYUDXGaGB4n6jXg6JO7FxRsXiO87ADQEYIy2G0uJRl+2cBXTqlUSB/z
DE9aww0IKaQvjXWq0iMG3htszUaf8CS6XTYWdMFNXmNOpy7MBVX9GLu5afBoCLAP
jAZ2Rvfzs+H4lW16dHPed24xef/vmtYG0tbGIOZhdqnnkKfw6wTx3BOsQNLAEu5g
nMOlUt/zkJVUsocVwT+OnCklJSbEB6ImoUanQ6vL1dxAWi5zCOpfuLmOv6tc9OSH
h7171f34r9lenu5vfiFk69eTuQENBFL0ZuABCADqCZ4WT2+DSS3+BGAUUsxrFwKd
bRNyN9L7fIXv/tK9fd80+w2i1oaxLfv1W3amxzVm+oiHCgYOAxAkyzG3t1dUY7Nd
QQx3I7lA5JkBn0fedde61bJiefL1K5RRh6FNH6t63no9XZ3fw1e77P2fK9NM6Ahr
sM/AFBR2/pdQPm62pya02q1aqan7ZX7rxQfOWIZRg7guPMp2zBM+rQ4mRQj7/nhL
Jzov9tPsSqTnhLyM3hGBDigkXqhu4Sr9690RKnGGt6hEmO5t5S3mPy35oqzEFaHz
8tbkBxT/LnIhUdFdqe9ZU229l6LTqFkVFTOGIl0ytcTm7qwJL/GHDEFHiyVrABEB
AAGJAR8EGAECAAkFAlL0ZuACGwwACgkQ6/R0MvG8ECUgawf+IYmAFY2UUtNrxgDj
amJ96T/c0hHNj7unXznIhFYElgVlQ8O6mcYHU175URb1MbcA/HJ8dc9eYPCOse+W
D7Eaq6lHU63WWA8G/mA5n5v6UXPIMxZuyqq0VaMwuPnTvFGro+3edy8SOtd+lIlJ
nRwoYm4ZKh6uExJ6BeC6jvPi7Fm1TACPRa9BGtSH50ptN64TM3gviGxD3sHtSL9O
WiTIvzDPRh9fSE5FeWiv63WtwprekvTL7y1pCtoykOrsQliYa+DwkYHt3lreQNik
IIKaN3hWdEHXQisMZnXV+sC4JVco6vxVEAGGusZ1kKl1GIdF/tLmazLn5MGWWxEm
bFTZFg==
=prp2
-----END PGP PUBLIC KEY BLOCK-----</pre>
<p></p>

    </div>
</section>
{% endblock %}
