<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <hr>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
        <p>{% trans flask='Flask', mojibake='MØjibДĸe' %}Site powered by <a href="http://flask.pocoo.org/">{{ flask }}</a> and <a href="https://github.com/ardinor/mojibake">{{ mojibake }}</a>{% endtrans %} {% if taken %}<span class="pull-right">{{ taken()-start }}s</span>{% endif %}</p>
        </div>
    </div>
</div>