<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <hr>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
        <p>{{ _('Site powered by {flask} and {mojibake}.'.format(flask = '<a href="http://flask.pocoo.org/">Flask</a>', mojibake = '<a href="https://github.com/ardinor/mojibake">Mojibake</a>')) }} {% if taken %}<span class="pull-right">{{ taken()-start }}s</span>{% endif %}</p>
        </div>
    </div>
</div>