<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}} - Mojibake</title>
    {% else %}
    <title>Mojibake</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="author" content="https://github.com/ardinor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="../static/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <script src="../static/js/bootstrap-scrollspy.js"></script> -->
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% if g.user.is_authenticated() %}
    {% assets "user_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "user_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
    {% endif %}
    {% if session['language'] == 'ja' %}
    {% assets "ja_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      {% if session['language'] == 'ja' %}
      moment.lang('ja');
      {% endif %}
    </script>
    <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Posts" type="application/atom+xml">
    {% set active_page = active_page|default('index') -%}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('index') }}">MØjibДĸe</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                {% assets "atom_icon" %}
                <a href="/recent.atom"><img src="{{ ASSET_URL }}" alt="Atom Feed"/></a>
                {% endassets %}
            </p>
            {% if g.user.is_authenticated() %}
            <p class="navbar-text pull-right">
                <a href="/logout">{{ _('Logout') }}</a>
            </p>
            {% else %}
            <p class="navbar-text pull-right">
                <noscript>
                  <a href="/login">{{ _('Login') }}</a>
                </noscript>
                <a id="divLogin" href="/loginmodal" data-toggle="modal" style="display: none">{{ _('Login') }}</a>
            </p>
            {% endif %}
            <p class="navbar-text pull-right">
                <a href="/language/{{ available_languages(session['language'])[0] }}?next={{ active_page }}">{{ available_languages(session['language'])[1] }}</a>
            </p>
            <ul class="nav">
              <li class="">
                <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
              </li>
              <li class="">
                <a href="{{ url_for('tags') }}">{{ _('Categories') }}</a>
              </li>
              {% if g.user.is_authenticated() %}
              <li class="">
                <a href="{{ url_for('profile', username = g.user.username) }}">{{ _('Your Profile') }}</a>
              </li>
              <li class="">
                <a href="{{ url_for('panel') }}">{{ _('User Panel') }}</a>
              </li>
              <li class="">
                <a href="{{ url_for('new_post') }}">{{ _('New Post') }}</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        <div class="row-fluid">
          <div class="span6 offset3">
            <div class="alert alert-success" style="text-align:center;">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endwith %}
        <div class="row-fluid">
          <div class="span2">
            {% block leftbar %}{% endblock %}
          </div>
          <div class="span6">
            {% with messages = get_flashed_messages(category_filter=['error']) %}
            {% if messages %}
                <div class="alert alert-error" style="text-align:center;">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
          <div class="span2">
            {% block rightbar %}{% endblock %}
          </div>
        {% include "footer.html" %}
    </div>
  </body>
</html>