<html>
  <head>
    {% if title %}
    <title>{{title}} - Mojibake</title>
    {% else %}
    <title>Mojibake</title>
    {% endif %}
  </head>
  <body>
    <div>Mojibake:
        <a href="/index">Home</a>
        <a href="/tags">Categories</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('profile', username = g.user.username) }}">Your Profile</a>
        | <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>