{% extends "base.html" %}

{% block title %}Defestri - Create{% endblock %}

{% block content %}
<section class="post_create">
    <div class="container">
        <header>
            <h2>{{ _('New Post') }}</h2>
        </header>

        <form role="form" method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="inline-form-element">
                <label>{{ _('Title (en)') }}</label>
                {{ form.title(size=20) }}
                {% for error in form.errors.title %}
                <div class="alert-error">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="inline-form-element">
                <label>{{ _('Title (ja)') }}</label>
                {{ form.title_ja(size=20) }}
                {% for error in form.errors.title_ja %}
                <div class="alert-error">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>



            <label>{{ _('Slug') }}</label>
            {{ form.slug(size=20) }}
            {% for error in form.errors.slug %}
            <div class="alert-error">
                <p>{{ error }}</p>
            </div>
            {% endfor %}

            <div id="tabs">
                <ul>
                  <li><a href="#body_tab">{{ _('Body (en)') }}</a></li>
                  <li><a href="#body_ja_tab">{{ _('Body (ja)') }}</a></li>
                </ul>
                <div id="body_tab">
                    {{ form.body }}
                </div>
                <div id="body_ja_tab">
                    {{ form.body_ja }}
                </div>
            </div>

            <label>{{ _('Published date') }}</label>
            {{ form.date }}
            {% for error in form.errors.date %}
            <div class="alert-error">
                <p>{{ error }}</p>
            </div>
            {% endfor %}

            <div class="inline-form-element">
                <label>{{ _('Category (en)') }}</label>
                {% if form.category.data %}
                    <input id="post_category" name="category" type="text" value="{{ form.category.data.name }}">
                {% else %}
                    {{ form.category }}
                {% endif %}
                {% for error in form.errors.category %}
                <div class="alert-error">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="inline-form-element">
                <label>{{ _('Category (ja)') }}</label>
                {% if form.category.data and form.category.data.name_ja %}
                    <input id="post_category_ja" name="category_ja" type="text" value="{{ form.category.data.name_ja }}">
                {% else %}
                    {{ form.category_ja }}
                {% endif %}
                {% for error in form.errors.category_ja %}
                <div class="alert-error">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>


            <div class="inline-form-element">
                <label>{{ _('Tags (en)') }}</label>
                {% if form.tags.data %}
                    <input id="post_tags" name="tags" type="text" value="{% for i in form.tags.data %}{{ i.name }}{% if form.tags.data[-1] != i %};{% endif %}{% endfor %}">
                {% else %}
                    {{ form.tags }}
                {% endif %}
                {% for error in form.errors.tags %}
                <div class="alert-error">
                    <p>{{ error.text }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="inline-form-element">
                <label>{{ _('Tags (ja)') }}</label>
                {% if form.tags.data %}
                    <input id="post_tags_ja" name="tags_ja" type="text" value="{% for i in form.tags.data %}{{ i.name_ja }}{% if form.tags.data[-1] != i %};{% endif %}{% endfor %}">
                {% else %}
                    {{ form.tags_ja }}
                {% endif %}
                {% for error in form.errors.tags_ja %}
                <div class="alert-error">
                    <p>{{ error.text }}</p>
                </div>
                {% endfor %}
            </div>


            <label>{{ form.published }} {{ _('Publish') }}</label>
            {% for error in form.errors.published %}
            <div class="alert-error">
                <p>{{ error.text }}</p>
            </div>
            {% endfor %}

            <button class="button" type="submit"><span class="fa fa-save"></span> {{ _('Submit') }}</button>
        </form>
    </div>
</section>
{% endblock %}

