{% extends "base.html" %}

{% block title %}Defestri - {{ _('Tags') }}{% endblock %}

{% block content %}
<section class="translate">
    <div class="container">

        <header>
            <h2>{{ _('Translate') }}</h2>
        </header>

        <h3>{{ _('Tags needing translation') }}</h3>
            {% for i in tags %}
            <a href="{{ url_for('tag_name', name=i.name) }}">{{ i.name }}</a>
            {% endfor %}

            <h3>{{ _('Categories needing translation') }}</h3>
            {% for i in cats %}
            <a href="{{ url_for('category', name=i.name) }}">{{ i.name }}</a>
            {% endfor %}

    </div>
</section>
{% endblock %}
