{% extends "base.html" %}

{% block title %}Defestri - {{ _('Tags') }}{% endblock %}

{% block content %}
<section class="translate">
    <div class="container">

        <header>
            <h2>{{ _('Translate') }}</h2>
        </header>

        {% if tags|length == 0 and cats|length == 0 and posts|length == 0%}
        <p>{{ _('Looks like everything so far has been translated!')}}</p>

        {% else %}

        <form role="form" method="POST" action="">
            {{ form.hidden_tag() }}

            {% if tags %}
            <div class="translation-header">
                <div class="inline-form-element translation-header">
                    <h3>{{ _('Tags needing translation') }}</h3>
                </div>

                <div class="inline-form-element translation-header">
                    <h3>{{ _('Translation')}}</h3>
                </div>
            </div>

            {% for i in tags %}
            <div class="inline-form-element">
                <a href="{{ url_for('tag_name', name=i.name) }}">{{ i.name }}</a>
            </div>
            <div class="inline-form-element">
                <input name="tag_{{ i.name }}_ja" id="tag_{{ i.name }}_ja" type="text">
            </div>
            {% endfor %}
            {% endif %}

            {% if cats %}
            <div class="translation-header">
                <div class="inline-form-element translation-header">
                    <h3>{{ _('Categories needing translation') }}</h3>
                </div>
                <div class="inline-form-element translation-header">
                    <h3>{{ _('Translation')}}</h3>
                </div>
            </div>

            {% for i in cats %}
            <div class="inline-form-element">
                <a href="{{ url_for('category', name=i.name) }}">{{ i.name }}</a>
            </div>
            <div class="inline-form-element">
                <input name="cat_{{ i.name }}_ja" id="cat_{{ i.name }}_ja" type="text">
            </div>
            {% endfor %}
            {% endif %}

            <button class="button" type="submit"><span class="fa fa-save"></span> {{ _('Submit') }}</button>
         </form>
    </div>
</section>

         {% if posts %}
<div class="post-divider"></div>
<section class="translate">
    <div class="container">
            <h3>{{ _('Posts in need of translation') }}</h3>


         {% for i in posts %}
            <p>
                <a href="{{ url_for('edit_post', slug=i.slug) }}">{% if session['language'] == 'ja' and i.title_ja %}{{ i.title_ja }}{% else %}{{ i.title }}{% endif %}</a>{% if i.published == False %} - {{ _('Not yet published') }}{% endif %}
            </p>
         {% endfor %}
         {% endif %}

         {% endif %}

    </div>
</section>
{% endblock %}
