{% extends "base.html" %}

{% block title %}Defestri - {{ _('Tags') }}{% endblock %}

{% block content %}
<section class="translate">
    <div class="container">

        <header>
            <h2>{{ _('Translate') }}</h2>
        </header>

        <form role="form" method="POST" action="">
            {{ form.hidden_tag() }}

            {% if tags %}
            <div class="translation-header">
                <div class="inline-form-element translation-header">
                    <h4>{{ _('Tags needing translation') }}</h4>
                </div>

                <div class="inline-form-element translation-header">
                    <h4>{{ _('Translation')}}</h4>
                </div>
            </div>

            {% for i in tags %}
            <div class="inline-form-element">
                <a href="{{ url_for('tag_name', name=i.name) }}">{{ i.name }}</a>
            </div>
            <div class="inline-form-element">
                <input id="" type="text">
            </div>
            {% endfor %}
            {% endif %}

            {% if cats %}
            <div class="translation-header">
                <div class="inline-form-element translation-header">
                    <h4>{{ _('Categories needing translation') }}</h4>
                </div>
                <div class="inline-form-element translation-header">
                    <h4>{{ _('Translation')}}</h4>
                </div>
            </div>

            {% for i in cats %}
            <div class="inline-form-element">
                <a href="{{ url_for('category', name=i.name) }}">{{ i.name }}</a>
            </div>
            <div class="inline-form-element">
                <input id="" type="text">
            </div>
            {% endfor %}
            {% endif %}
         </form>

        {% if tags|length == 0 and cats|length == 0 %}
        <p>{{ _('Looks like everything so far has been translated!')}}</p>
        {% endif %}


    </div>
</section>
{% endblock %}
