{% extends "header.html" %}

{% block content %}
<h1>Create account</h1>
<form action="" method="post" name="create">
    {{form.hidden_tag()}}
    <p>
        <p>Please enter your username and password:</p>
        <p>{{form.username(size=80)}}</p>
        {% for error in form.errors.username %}
        <p><span style="color: red;">[{{error}}]</span></p>
        {% endfor %}
        <p>{{form.email}}</p>
        {% for error in form.errors.email %}
        <p><span style="color: red;">[{{error}}]</span></p>
        {% endfor %}
        <p>{{form.password(size=80)}}</p>
        {% for error in form.errors.password %}
        <p><span style="color: red;">[{{error}}]</span></p>
        {% endfor %}
        <p>{{form.password_verify(size=80)}}</p>
        {% for error in form.errors.password_verify %}
        <p><span style="color: red;">[{{error}}]</span></p>
        {% endfor %}
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}