{% extends "header.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <h4 style="text-align:center; margin-top: 25px; margin-bottom: 40px">Create an account</h4>
        <form class="form-horizontal" action="" method="post" name="create">

            {{form.hidden_tag()}}
            {% if form.errors.username %}
            <div class="control-group error">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    {{form.username(size=80)}}
                    {% for error in form.errors.username %}
                    <span class="help-inline error">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    {{form.username(size=80)}}
                </div>
            </div>
            {% endif %}
            {% if form.errors.email %}
            <div class="control-group error">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{form.email(size=80)}}
                    {% for error in form.errors.email %}
                    <span class="help-inline error">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{form.email(size=80)}}
                </div>
            </div>
            {% endif %}
            {% if form.errors.password %}
            <div class="control-group error">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    {{form.password(size=80)}}
                    {% for error in form.errors.password %}
                    <span class="help-inline error">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    {{form.password(size=80)}}
                </div>
            </div>
            {% endif %}
            {% if form.errors.password_verify %}
            <div class="control-group error">
                <label class="control-label" for="password_verify">Password again</label>
                <div class="controls">
                    {{form.password_verify(size=80)}}
                    {% for error in form.errors.password_verify %}
                    <span class="help-inline error">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="password_verify">Password again</label>
                <div class="controls">
                    {{form.password_verify(size=80)}}
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"> Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}