{% extends "header.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <h2>Sign In</h1>
        <form action="" method="post" name="login">
            {{form.hidden_tag()}}
            <p>
                <p>Please enter your username and password:</p>
                <p>{{form.username(size=80)}}</p>
                {% for error in form.errors.username %}
                <div class="alert alert-error">
                    <p>[{{error}}]</p>
                </div>
                {% endfor %}
                <p>{{form.password(size=80)}}</p>
                {% for error in form.errors.password %}
                <div class="alert alert-error">
                    <p>[{{error}}]</p>
                </div>
                {% endfor %}
            </p>
            <p>{{form.remember_me}} Remember Me</p>
            <p><input type="submit" value="Sign In"></p>
        </form>
    </div>
</div>
{% endblock %}