<div class="modal-header">

<a class="close" data-dismiss="modal">&times;</a>

<h3>Login</h3>

</div>

<div class="modal-body">

<form class="form-horizontal" action="/login" method="post" name="login">
    {{form.hidden_tag()}}
    {% if form.errors.username %}
    <div class="control-group error">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            {{form.username(size=80)}}
            {% for error in form.errors.username %}
            <span class="help-inline error">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            {{form.username(size=80)}}
        </div>
    </div>
    {% endif %}
    {% if form.errors.password %}
    <div class="control-group error">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            {{form.password(size=80)}}
            {% for error in form.errors.password %}
            <span class="help-inline error">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            {{form.password(size=80)}}
        </div>
    </div>
    {% endif %}
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                {{form.remember_me}} Remember Me
            </label>
        </div>
    </div>
</form>

</div>

<div class="modal-footer">
<a class="btn btn-warning pull-left" href="password">Password reset</a>
<a class="btn btn-success" onclick="$('.modal-body > form').submit();">Login</a>
<a class="btn" data-dismiss="modal">Close</a>
</div>