{% from '_macros.html' import render_pagination %}

{% extends "header.html" %}

{% block content %}
    {% if comments %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <h3>{{ _('Comments awaiting approval') }}</h3>
        </div>
        <div id="comments">
            {% for key, values in comments.items() recursive %}
            <div>
                <div class="row-fluid">
                    <div class="span4 offset2">
                        <h4>Comments on <a href="{{ url_for('get_post', slug =  key.slug) }}">{{ key.title }}</a></h4>
                    </div>
                </div>
                {% for comment in values %}
                <div id="comment-row" class="row-fluid">
                    <div class="span4 offset2">
                        <span id="comment" ref="{{ comment._id }}" author="{{ comment.author }}" body="{{ comment.body }}">{{moment_js(comment.created_at).format('LLLL')}} - <a href="{{ comment.email }}"><strong>{{ comment.author }}</strong></a> said: {{ comment.body }}</span>
                    </div>
                    <div class="span2">
                        <button class="btn btn-success btn-small" id="approve" type="button">Approve</button><button class="btn btn-danger btn-small" id="delete">Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span4 offset4">
            <h3>Your posts</h3>
        </div>
    </div>
    {% for post in pagination.items %}
    <div class="row-fluid">
        <div class="span6 offset2">
            <h4><a href="{{ url_for('get_post', slug = post.slug) }}">{{ post.title }}</a></h4>
            <p>
              {{ post.author.username }} | {{moment_js(post.created_at).format('LLLL')}}
            </p>
            <p>{{ post.body|truncate(300)|safe }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row-fluid">
        <div class="span4 offset4">
            {{ render_pagination(pagination=pagination, endpoint='panel') }}
        </div>
    </div>
{% endblock %}