{% extends "base.html" %}

{% block title %}Defestri - {{ _('Commonly seen IPs and Subnets') }}{% endblock %}

{% block content %}
<section class="bans">
    <div class="container">

        <header>
            <h2>{{ _('Commonly seen IPs and Subnets') }}</h2>

        </header>

        <h3 style="padding-bottom: 10px;">{{ _('Common IPs') }}</h3>
        <table class="default">
            <thead>
                <tr>
                    <th>{{ _('IP') }}</th>
                    <th>{{ _('Location') }}</th>
                    <th>{{ _('Times seen') }}</th>
                </tr>
            </thead>
            <tfoot class="row-total">
                <td>{{ _('Total') }}:</td>
                <td colspan="3">{{ common_ips|length }}</td>
            </tfoot>
            <tbody>
                {% for ipaddr in common_ips %}
                <tr>
                    <td>{{ ipaddr.ip_addr }}</td>
                    <td>{{ ipaddr.print_location() }}</td>
                    <td>{{ ipaddr.breakins.count() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 style="padding-bottom: 10px;">{{ _('Subnets /16') }}</h3>
        <table class="default">
            <thead>
                <tr>
                    <th>{{ _('Subnet') }}</th>
                    <th>{{ _('Times seen') }}</th>
                </tr>
            </thead>
            <!-- <tfoot class="row-total">
                <td>{{ _('Total')}}:</td>
                <td colspan="2">{{ subnets|length }}</td>
            </tfoot> -->
            <tbody>

                {% for subnet, count in subnets_16.items() %}
                {% if count > 2 %}
                <tr class="{{ loop.cycle('odd', 'even')}}">
                    <td>{{ subnet }}.x.x</td>
                    <td>{{ count }}</td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>

        <h3 style="padding-bottom: 10px;">{{ _('Subnets /24') }}</h3>
        <table class="default">
            <thead>
                <tr>
                    <th>{{ _('Subnet') }}</th>
                    <th>{{ _('Times seen') }}</th>
                </tr>
            </thead>
            <!-- <tfoot class="row-total">
                <td>{{ _('Total')}}:</td>
                <td colspan="2">{{ subnets|length }}</td>
            </tfoot> -->
            <tbody>

                {% for subnet, count in subnets_24.items() %}
                {% if count > 2 %}
                <tr class="{{ loop.cycle('odd', 'even')}}">
                    <td>{{ subnet }}.x</td>
                    <td>{{ count }}</td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>

        <h3 style="padding-bottom: 10px;">{{ _('Subnets to block') }}</h3>
        <table class="default">
            <thead>
                <tr>
                    <th>{{ _('Subnet') }}</th>
                    <th>{{ _('Net mask') }}</th>
                    <th>{{ _('CIDR') }}</th>
                    <th>{{ _('No. of hosts') }}</th>
                </tr>
            </thead>
            <!-- <tfoot class="row-total">
                <td>{{ _('Total')}}:</td>
                <td colspan="2">{{ subnets|length }}</td>
            </tfoot> -->
            <tbody>

                {% for subnet in subnets_to_block.keys() %}
                <tr class="{{ loop.cycle('odd', 'even')}}">
                    <td>{{ subnet }}</td>
                    <td>{{ subnets_to_block[subnet]['net_mask'] }}</td>
                    <td>{{ subnets_to_block[subnet]['cidr'] }}</td>
                    <td>{{ subnets_to_block[subnet]['no_hosts'] }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</section>
{% endblock %}
